<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sending Email</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
Click Here to send Mail
    <a class="btn" href="{% url 'sendmail' %}" style='background-color:#ffa811;color:white;margin-top: 2%;'>SEND MAIL</a>

<br/>
Click here for abstract request
<a class="btn" href="{% url 'abstract' %}" style='background-color:#ffa811;color:white;margin-top: 2%;'>SEND abstract</a>
</body>
</html>